:root {
    --main-color: #000;
    --logo-color: #231f20;
    --button_color: #f7941e;
    --container-color: #fafafa;
}

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main_color);
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0;

    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

button {
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    background-color: var(--container-color);
}

/*page header*/

.page-header > .container {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 80px;
}

.logo__link {
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.1666;
    color: var(--logo-color);
    opacity: 1;
}

.logo__img {
    display: block;
    max-width: 100%;
    position: absolute;
    left: -10px;
    opacity: 1;
}

.navigation-list {
    display: flex;
    margin-left: 433px;
}

.navigation-list-item {
    display: block;
    padding-top: 43px;
    padding-bottom: 43px;
    margin-right: 31px;
}

.navigation-list-item:last-child {
    margin-right: 0;
}

.navigation-list-link {
    font-size: 18px;
    line-height: 1.2222;
    color: var(--main-color);
}

.header-button {
    margin-left: auto;
    width: 150px;
    height: 43.5px;
    text-align: center;
    text-transform: uppercase;

    font-size: 18px;
    line-height: 1.2222;

    color: var(--button_color);
    background-color: var(--container-color);
    border: 1px solid var(--button_color);
    border-radius: 5px;
}
.box {
}
.hero-title {
}
.text {
}
.find-give-link {
}

.section-title {
}
.gift-list {
}
.gift-item {
}
.gift-box {
}
.gift-subtitle {
}
.gift-title-link {
}
